*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.road-img{
    width: 100%;
    height: 100vh;
}
.cars-box img{
    width: 200px;
}
.contain-road{
    position: relative;
}
.car1{
    position: absolute;
    top: 10%;
    display: none;
}
.car2{
    position: absolute;
    top: 25%;
    display: none;
}
.car3{
    position: absolute;
    top: 45%;
    display: none;
}
.car4{
    position: absolute;
    top: 62%;
    display: none;
}
.car5{
    position: absolute;
    top: 82%;
    display: none;
}
.car-btns button{
    padding: 10px 20px;
}